body {
    font-family: 'Segoe UI', Arial, 'Source Han Sans SC', 'Microsoft YaHei', sans-serif, 'Segoe Color Emoji';
}

:lang(ja) {
    font-family: 'Segoe UI', Arial, 'Source Han Sans', 'Meriyo UI', sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}

h4, h5, h6 {
    font-weight: 500;
}

pre, code {
    font-family: 'Consolas', 'Sarasa Mono T SC';
}